/*initial page*/
#temporarybackground{
	position:absolute;
	width:100%;
	height:100%;
	background-color:#ffffff;
}

#screenborder{
	position:absolute;
	width:410px;
	height:99%;
	background-color:#5b5b5b;
	border:1px #4f4f4f solid;
	border-radius: 15px;
	top:1%;
	left:50%;
	transform:translate(-50%);
}

#screen{
	position:absolute;
	width:390px;
	height:88.5%;
	background-color:#ffffff;
	border:1px #000000 solid;
	top:8.5%;
	left:50%;
	transform:translate(-50%);
}

#logo{
	height:25%;
	position:absolute;
	top:23%;
	left:50%;
	transform:translate(-50%);
}

#slogan{
	font-family:DFKai-sb;
	color:#000000;
	font-size:45px;
	font-weight:bold;
	position:absolute;
	top:48%;
	left:50%;
	transform:translate(-50%);
}

#fb{
	color:#ffffff;
	font-size:18px;
	background-color:#004b97;
	font-family:arial;
	border:0px;
	position:absolute;
	height:50px;
	width:350px;
	top:80%;
	left:50%;
	transform:translate(-50%);
}

#skip{
	color:#000000;
	font-size:18px;
	background-color:#e0e0e0;
	border:1px #01b468 solid;
	border-radius:5px;
	font-family:arial;
	position:absolute;
	height:50px;
	width:172px;
	top:88%;
	left:50%;
	transform:translate(-102%);
	z-index:2;
	cursor:pointer;
}

#sign{
	color:#000000;
	font-size:18px;
	background-color:#e0e0e0;
	border:1px #ae0000 solid;
	border-radius:5px;
	font-family:arial;
	position:absolute;
	height:50px;
	width:172px;
	top:88%;
	left:50%;
	transform:translate(+2%);
}

/*sign page*/
#signintitle{
	color:#ff0000;
	font-size:20px;
	font-family:arial;
	position:absolute;
	top:5%;
	left:50%;
	transform:translate(-50%);
}

#signform{
	position:absolute;
}

#email{
	color:#bebebe;
	font-size:18px;
	font-family:arial;
	position:absolute;
	height:50px;
	width:300px;
	top:11%;
	left:50%;
	transform:translate(-50%);
}

#password{
	color:#bebebe;
	font-size:18px;
	font-family:arial;
	position:absolute;
	height:50px;
	width:300px;
	top:18.5%;
	left:50%;
	transform:translate(-50%);
}

#signin{
	color:#ffffff;
	font-size:18px;
	background-color:#ff0000;
	font-family:arial;
	position:absolute;
	height:50px;
	width:300px;
	top:29%;
	left:50%;
	transform:translate(-50%);
}

#createaccount{
	color:#ff0000;
	font-size:18px;
	background-color:rgba(255,255,255,0.0);
	font-family:arial;
	position:absolute;
	height:50px;
	width:300px;
	top:39.5%;
	left:50%;
	transform:translate(-50%);
}

/*relay page*/
#welcome{
	color:#ff0000;
	font-size:35px;
	font-family:arial;
	position:absolute;
	top:8%;
	left:50%;
	transform:translate(-50%);
}

#welcomepagesubtitle{
	color:#000000;
	font-size:25px;
	font-family:Microsoft JhengHei;
	position:absolute;
	top:15%;
	left:50%;
	transform:translate(-50%);
}

#example{
	height:45%;
	position:absolute;
	top:55%;
	left:50%;
	transform:translate(-50%);
}

#go{
	color:#ffffff;
	font-size:18px;
	text-align:center;
	line-height:38px;
	background-color:#ff0000;
	border-radius: 5px;
	font-family:arial;
	position:absolute;
	height:38px;
	width:375px;
	top:90%;
	left:50%;
	transform:translate(-50%);
	cursor:pointer;
}

.reborn{
	color:#ffffff;
	font-size:60px;
	text-align:center;
	line-height:38px;
	background-color:#ffc1078f;
	font-family:arial;
	position:absolute;
	height:50px;
	width:350px;
	top:20%;
	left:50%;
	transform:translate(-50%);
	/*display:none*/;

}

.content{

	color:#ffffff;
	font-size:40px;
	text-align:center;
	line-height:38px;
	background-color:#ffc1078f;
	font-family:arial;
	position:absolute;
	height:350px;
	width:550px;
	top:30%;
	left:50%;
	transform:translate(-50%);
	/*display:none*/;


}
.selectA{
    	color:#ff0000;
	font-size:60px;
	font-family:arial;
	position:absolute;
	width:100px;
	top:75%;
	left:25%;
	transform:translate(-50%);
	display:none;
}

.selectB{
	color:#ff0000;
	font-size:60px;
	font-family:arial;
	position:absolute;
	width:100px;
	top:75%;
	left:41%;
	transform:translate(-50%);
	display:none;
}

.selectC{
	color:#ff0000;
	font-size:60px;
	font-family:arial;
	position:absolute;
	width:100px;
	top:75%;
	left:59%;
	transform:translate(-50%);
	display:none;
}

.selectD{
	color:#ff0000;
	font-size:60px;
	font-family:arial;
	position:absolute;
	width:100px;
	top:75%;
	left:75%;
	transform:translate(-50%);
	display:none;
}
